{% load static %}

<footer class="bg-dark">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-4">
                <h5> Our Goal </h5>
                <p>To bring together a diverse array of peoples through the celebration of cinema and filmmaking
                with both new and old film releases alike.
                </p>
        </div>
        <div class="col-md-3 flex-grow-0">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li>Upstairs, 80 John William St</li>
                <li>Huddersfield</li>
                <li>HD1 5AA</li>
                <li>01484 567890</li>
                <li class="email-contact">info@huddersfieldpicturehouse.co.uk</li>
            </ul>
        </div>
        <div class="col-md-3 flex-grow-0">
            <img class="footer-icons" src="{% static 'images/ico-logo-white.png' %}" alt="Image">
            <img class="footer-icons" src="{% static 'images/kirklees_council.png' %}" alt="Image">
        </div>
        <div class="col-md-2 flex-grow-0">
            <h5>Follow Us</h5>
            <ul class="social-media-list">
                <li class="social-media"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="social-media"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li class="social-media"><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>&copy; 2023 Huddersfield Picture House</p>
        </div>
    </div>
</footer>