{% load static %}

<!-- Header -->
<div class="custom-container container-header bg-dark">
    <header class="header-with-icons">
        <span class="cinema-title">Huddersfield Picture House</span>
        <ul class="social-media-header">
            <li class="social-media-list-header"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-media-list-header"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li class="social-media-list-header"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </header>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" href="#">My Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'whatson' %}">What's On</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">Your Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
        </li>
        {% endif %}
        </ul>
    </div>
</div>
</nav>