{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <p>You must be logged in to book tickets. Click <a href="{% url 'account_login' %}">here</a>to
                            login or
                            <a href="{% url 'account_signup' %}">here</a>to create an account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    
    <!-- <img src="{{ movie.featured_image.url }}" alt="{{ movie.title }}"> -->

    <img src="{% static 'images/cinema_screen_concept.png' %}"
        alt="Image of the 220 seat Huddersfield Picture House Theatre">

    <h2>Book a Seat</h2>
    <form method="POST" action="{% url 'booking_detail' %}" class="my-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Book Seats</button>
    </form>

{% endif %}

{% endblock content %}