{% extends "base.html" %}

{% block content %}

<!-- Edit movie booking via a form -->
<div class="container page-height">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            {% if showForm == True %}
            <div class="card p-5">
                <h3 class="text-center mb-4">Edit Booking</h3>
            <form action="{% url 'editbooking' booking.id %}" method="POST">
                {% if user.is_authenticated %}
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block mt-4">Change</button>
                {% endif %}
            </form>
            </div>
            {% else %}
            <div>
            Cannot edit
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}